<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <h1>Enter the new password</h1>
      <!-- <h6>enter the otp received on your email!</h6> -->
    </ion-grid>
    <ion-grid class="form-fields">
      <ion-item class="passwordItem" lines="none">
        <app-text-input [value]="passwordNew" [placeholder]="'enter password'" [icon]="'/assets/Images/otp.svg'"
          (textChange)="onTextChange($event, 'new')"></app-text-input>
      </ion-item>
      <ion-item class="confirmPasswordItem" lines="none">
        <app-text-input [value]="passwordConfirm" [placeholder]="'confirm password'" [icon]="'/assets/Images/otp.svg'"
          (textChange)="onTextChange($event, 'confirm')"></app-text-input>
      </ion-item>
      <app-button class="btns" label="reset password" [isDisabled]="!passwordsMatch"
        (clickEvent)="resetPassword()"></app-button>
      <!-- <app-otp-input [length]="6" (otpChange)="blockOtp($event)"></app-otp-input> -->
    </ion-grid>
  </div>
</ion-content>