ion-card-content a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit the color from the parent */
  display: block;
  /* Make the anchor a block element */
}


.shareField {
  height: 30px;
  width: 30px;
}

.linkText{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 5px;
}