<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ libraryName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editLibrary()"> Edit </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">


  <div class="libraryList" *ngIf="libraryData">
    <div class="img-item" *ngFor="let contentItem of libraryData.content">
      <!-- Make the entire card clickable and navigate to the external link  -->
      <a [href]="contentItem.link" target="_blank" rel="noopener noreferrer">
        <ion-img [src]="contentItem.fileData" alt="Image"></ion-img>
        <p class="caption">{{contentItem.title | slice:0:20}}</p>
      </a>
    </div>
  </div>
  <!-- menu nav -->
  <app-menu-nav></app-menu-nav>

  <!-- Render ion-select dynamically -->
  <ion-select *ngIf="showEditOptions" #editSelect (ionChange)="editOptionSelected($event)"
    placeholder="Select an option">
    <ion-select-option value="Name">Edit Name</ion-select-option>
    <ion-select-option value="Description">Edit Description</ion-select-option>
    <!-- <ion-select-option value="deleteLibrary">Delete Library</ion-select-option> -->
  </ion-select>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    style="margin-bottom: 16px; margin-right: 16px; z-index: 100">
    <ion-fab-button color="danger" (click)="promptDeleteConfirmation()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-menu-nav></app-menu-nav> -->
</ion-content>

<!-- <div class="page-footer">
  <app-menu-nav></app-menu-nav>
</div> -->


<!-- grid layout for contents -->
<!-- <div class="content-container">
      <a class="grid-three-cells" href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2022/02/12/14/00/feather-7009025_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2024/03/11/12/05/easter-8626470_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2022/02/12/14/00/feather-7009025_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2024/03/11/12/05/easter-8626470_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2022/02/12/14/00/feather-7009025_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a class="grid-three-cells" href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2024/03/11/12/05/easter-8626470_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2022/02/12/14/00/feather-7009025_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <ion-img src="https://cdn.pixabay.com/photo/2024/03/11/12/05/easter-8626470_1280.jpg" alt="Image"></ion-img>
        <p>Good Evening </p>
      </a>
    </div> -->


<!-- <div>
          <p>{{libraryName}}</p>
        </div> -->
<!-- <app-searchfilternav></app-searchfilternav> -->

<!-- <ion-header>
</ion-header> -->
<!-- <app-searchfilternav></app-searchfilternav> -->