<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title } + {content_type}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true" class="ion-padding"> -->

<!-- <ion-img src="path_to_your_image.jpg"></ion-img> -->

<!-- Image name -->
<!-- <ion-label>Name of the Image</ion-label> -->

<!-- Tags descriptor -->
<!-- <ion-label>Tags:</ion-label> -->

<!-- Buttons for adding tags -->
<!-- <ion-button> Add Tag </ion-button>
  <ion-button> Lipstick </ion-button>
  <ion-button> Mug </ion-button> -->

<!-- Buttons with icons -->
<!-- <div>
    <ion-button>
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="share-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </div> -->
<!-- <div class="libraryList" *ngIf="libraryData"> -->
<!-- <div class="img-item" *ngFor="let contentItem of libraryData.content"> -->
<!-- Make the entire card clickable and navigate to the external link  -->
<!-- <a [href]="contentItem.link" target="_blank" rel="noopener noreferrer">
        <ion-img [src]="contentItem.fileData" alt="Image"></ion-img>
        <p class="caption">{{contentItem.title | slice:0:20}}</p>
      </a>
    </div>
  </div> -->
<!-- menu nav -->
<!-- <app-menu-nav></app-menu-nav> -->

<!-- Render ion-select dynamically -->
<!-- <ion-select *ngIf="showEditOptions" #editSelect (ionChange)="editOptionSelected($event)"
    placeholder="Select an option">
    <ion-select-option value="Name">Edit Name</ion-select-option>
    <ion-select-option value="Description">Edit Description</ion-select-option> -->
<!-- <ion-select-option value="deleteLibrary">Delete Library</ion-select-option> -->
<!-- </ion-select>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    style="margin-bottom: 16px; margin-right: 16px; z-index: 100">
    <ion-fab-button color="danger" (click)="promptDeleteConfirmation()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
<!-- <app-menu-nav></app-menu-nav> -->
<!-- </ion-content> -->