<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-label>{{libraryPayload.libraryTitle}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="{{libraryPayload.libraryImg}}"></ion-img>

  <!-- Image name -->

  <!-- Tags descriptor -->
  <ion-label>Tags:</ion-label>
  <div class="tags">
    <ion-button> Add Tag </ion-button>
    <ion-button> Lipstick </ion-button>
  </div>

  <!-- Buttons for adding tags -->

  <!-- Buttons with icons -->
  <div>
    <ion-button>
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="share-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </div>
  <!-- menu nav -->
  <app-menu-nav></app-menu-nav>

  <!-- Render ion-select dynamically -->
  <!-- <ion-select *ngIf="showEditOptions" #editSelect (ionChange)="editOptionSelected($event)"
    placeholder="Select an option">
    <ion-select-option value="Name">Edit Name</ion-select-option>
    <ion-select-option value="Description">Edit Description</ion-select-option> -->
  <!-- <ion-select-option value="deleteLibrary">Delete Library</ion-select-option> -->
  <!-- </ion-select>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    style="margin-bottom: 16px; margin-right: 16px; z-index: 100">
    <ion-fab-button color="danger" (click)="promptDeleteConfirmation()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <!-- <app-menu-nav></app-menu-nav> -->
  <!-- </ion-content> -->