<div class="tabs-outer">
  <ion-tab-bar class="menu-nav" slot="bottom">
    <ion-tab-button class="tab-button-outer" tab="home" (click)="goToHome()">
      <img class="filter-icon home-icon" id="homeIcon" src="/assets/Images/home.svg" alt="home">
      <p id="homeText">Home</p>
    </ion-tab-button>
    <ion-tab-button class="tab-button-outer" tab="library" (click)="goToLibrary()">
      <img class="filter-icon library-icon" id="libIcon" src="/assets/Images/library.svg" alt="library">
      <p id="libraryText">Libraries</p>
    </ion-tab-button>
  </ion-tab-bar>
  <div class="search-cover">
    <div class="search-icon-outer"></div>
    <img class="filter-icon search-icon" src="/assets/Images/search-menu-fill.svg" alt="search">
  </div>
</div>
  