.menu-nav-container{
    position: relative;
}

.menu-nav {
    // position: absolute;
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-radius: 10px;
    margin: 0px 9px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.home-icon,
.library-icon {
    height: 19.35px;
    width: 19.35px;
    margin-bottom: 9.67px;
    position: absolute;
}

.search-icon {
    position: absolute;
    width: 41px;
    height: 55.1px;
    left: 37.83px;
    top: 10px;
    transform: translateX(-50%);
}

.search-cover{
    position: absolute;
    background:#E8F3FB;
    z-index: 1;
    height: 76.4px;
    width: 75.45px;
    left: 40%;
    top: -30px;
    border: 1px solid #e4f3ff;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.search-icon-outer{
    border: 8.75px solid #ffa65f;
    position: absolute;
    top: 7px;
    left: 7px;
    height: 60px;
    width: 62px;
    border-radius: 50%;
}

.tabs-outer{
    position: relative;
    margin-top: 60px;
}

.tab-button-outer{
    position: relative;
    background: #E8F3FB;
}

#homeIcon{
    top: 7px;
    right: 100px;
}

#homeText{
    position: absolute;
    top: 21px;
    right: 96px;
}

#libIcon{
    right: 80px;
    top: 6px;
}

#libraryText{
    top: 20px;
    position: absolute;
    right: 67px;

}

.right-lib-button {
    span {
        left: 25px!important;
    }
}

// .left-lib-button{
//     left: 25px;
// }