<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Sphagetti Head</ion-card-title>
      <ion-card-subtitle>Enter your credentials</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Login</ion-button>
      </form>
    </ion-card-content>
    <ion-button expand="full" (click)="signIn()" *ngIf="!user">
      <ion-icon name="logo-google" slot="start"></ion-icon>Sign in with Google</ion-button>
    <ion-button expand="full" (click)="signOut()" *ngIf="!user"> Sign Out</ion-button>
    <ion-button expand="full" (click)="signOut()" *ngIf="!user"> Refresh token</ion-button>

    <!-- login.page.html -->
    <ion-button (click)="googleLogin()">Login with Google</ion-button>


    <!-- <ion-item *ngIf="user">
      <ion-avatar slot="start">
        <img [src]="user.imageUrl" alt="">
      </ion-avatar>
      <ion-label>
        {{user.givenName}} {{user.familyName}}
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item> -->
  </ion-card>
</ion-content>