<ion-input labelPlacement="stacked" [label]="label" [(ngModel)]="value" [type]="isPasswordVisible ? 'text' : 'password'"
  [placeholder]="placeholder" [class]="inputClass" (ionChange)="onPasswordChange()">
  <img [src]="icon" slot="start" alt="Icon" width="24" height="24" />

  <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
    <img *ngIf="isPasswordVisible" src="../../../../assets/Images/fi-sr-eye 1.svg" slot="start" alt="Hide" width="20"
      height="20" />
    <img *ngIf="!isPasswordVisible" src="../../../../assets/Images/fi-sr-eye 1.svg" slot="start" alt="Show" width="20"
      height="20" />
  </ion-button>
</ion-input>