<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Libraries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-searchfilternav></app-searchfilternav>
  <!-- Search and Filter Nav -->
  <ion-label class="page-title">All libraries</ion-label>
  <!-- Display libraries in a grid -->
  <ion-grid class="library-container">
    <div class="card-wrapper" *ngFor="let library of allLibraries">
      <ion-card class="library-item" (click)="viewLibraryDetails(library)">
        <img src="https://cdn.pixabay.com/photo/2021/12/17/17/00/butterfly-6876992_1280.jpg" alt="Triangles Polygon" />
      </ion-card>
      <h6 class="library-title">{{ library.name }}</h6>
    </div>
  </ion-grid>

  <!-- menu nav -->
  <app-menu-nav></app-menu-nav>
</ion-content>