.page-title {
    font-family: Inter;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6891;
    position: absolute;
    left: 22px;
    top: 90px;
}

.library-container {
    display: grid;
    grid-template-columns: 50% auto;
    justify-content: center;
}

.library-item {
    width: 185px;
    height: 88px;
    position: relative;
    border-radius: 4.49px;
    box-shadow: 0px 6px 10px 0px #00000021;
}

.card-wrapper {
    position: relative;
    height: 105px;
}

.library-title {
    position: absolute;
    top: 97px;
    left: 18px;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #AD8865;
}

.library-row {
    display: flex;
}

ion-footer{
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    background: #e4f0fa;
}

ion-header{
    background: #e4f0fa;
    height: 67px;
    padding-bottom: 1px;
}

.cards {
    padding: 20px 0 40px;
    margin-top: 34px;
  }

  .card {
    border-radius: 12px;
    // box-shadow: 0 1.9px 4.4px rgba(0, 0, 0, 0.065), 0 3.4px 7.8px rgba(0, 0, 0, 0.094),
    // 0 15px 35px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -5px 5px -3px rgba(0,0,0,0.37),
    0px 7px 13px -3px rgba(0,0,0,0.3),
    0px -3px 0px 0px rgba(0,0,0,0.2) inset;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: -40px;
    height: 100px;
    justify-content: center;
    position: relative;
    transform-origin: 50% 100%;
    width: 100%;
    transition: transform 0.3s ease;
    color: #666666;
  }

//   .card-item{
    
//   }
  
  .card:hover {
    margin: 0 auto;
      transform: scale(1.1);  /*Change scale factor as needed */
      height: 150px;
      width: 370px;
      z-index: 1; 
  }
  
  .card img {
    margin-left: 8px;
    width: 16px;
  }

.header_section{

}

.card-title{
    position: absolute;
    left: 10px;
    top: 10px;
}

.shareLink{
    position: absolute;
    right: 10px;
    top: 10px;
}

.data-content{
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-img {
    height: 55px;
    width: 55px;
    object-fit: cover;
}

.more-images{
    font-size: 14px;
}

.no-image-align{
    margin: 0 auto;
}