<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      View All Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Display notifications in tiles (design done by another developer) -->
  <ion-grid>
    <ion-row *ngFor="let notification of notifications">
      <ion-col size="6">
      <ion-card-content class="card-outer">
        <!-- Display notification details -->
        <div class="notification-item-container">
          <div class="notification-item-details">
            <p class="p2">{{ notification.libraryName }}</p>
            <p class="p2">{{ notification.userName }}</p>
            <p class="p2">{{ notification.permissionType }}</p>
          </div>
        </div>
  
        <!-- Approve and Reject buttons -->
        <div class="notification-item-actions">
          <ion-button (click)="approveNotification(notification.id)" color="primary">Approve</ion-button>
          <ion-button (click)="rejectNotification(notification.id)" color="danger">Reject</ion-button>
        </div>
      </ion-card-content>
    </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Example tile structure -->
 
</ion-content>