.container {
    padding: 15px;

    h1 {
        font-size: 32px;
        font-weight: 800;
        color: #000;
        margin-top: 2rem;
        letter-spacing: 0em;
    }

    h6 {
        font-size: 16px;
        color: #757575;
        margin-top: 0;
    }
}

.otpItem {
    margin: 10px 0 38px 0;
    --border-radius: 8px;
    --background: #ffffff80;
    border-radius: 8px;
    color: #404040;
}

.form-fields{
    margin-top: 89px;
}

    