<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <h1>verify account</h1>
      <h6>enter the otp received on your email!</h6>
    </ion-grid>
    <ion-grid class="form-fields">
      <ion-item class="otpItem" lines="none">
        <app-text-input [value]="otp" [placeholder]="'enter otp'" [icon]="'/assets/Images/otp.svg'"
          (textChange)="onTextChange($event)"></app-text-input>
      </ion-item>
      <div class="resend-otp-section">
        <button class="resend-button" [disabled]="otpService.timerRunning" (click)="resendOtp()">Resend OTP</button>
        <p class="timer" *ngIf="otpService.showTimer">Time remaining: {{ otpService.minutes }}:{{ otpService.seconds }}</p>
      </div>
      <app-button [customClass]="'verifyOtpBtn'" label="verify account" (clickEvent)="verifyOtp()"></app-button>
      <!-- <app-otp-input [length]="6" (otpChange)="blockOtp($event)"></app-otp-input> -->
    </ion-grid>
  </div>
</ion-content>