<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="createNewLibrary()">Create New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Display libraries in a grid -->
  <ion-grid>
    <ion-row *ngFor="let library of libraries">
      <ion-col size="6" *ngIf="isEvenIndex(library)">
        <ion-card (click)="viewLibraryDetails(library)">
          <ion-card-header>
            {{ library.title }}
          </ion-card-header>
          <ion-card-content>
            {{ library.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" *ngIf="!isEvenIndex(library) && libraries.length > 1">
        <ion-card (click)="viewLibraryDetails(library)">
          <ion-card-header>
            {{ library.title }}
          </ion-card-header>
          <ion-card-content>
            {{ library.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>